<div class="form_main" id="contenedor">
  <img class="logo" src="../public/img/logo-color.png" alt="">
  <h1 class="heading">Recover Password</h1>
  <form id="formForgot">
    <div class="inputContainer">
      <input class="inputField" type="email" name="email" placeholder="E-mail" id="email" required />
    </div>

    <input class="button-log-in" type="submit" value="Send Recovery E-mail" />
  </form>
  <a class="forgotLink" href="http://localhost:8080/login">Quit</a>
</div>

<script src="/public/js/forgot.js" type="application/javascript"></script>