<div class="form_main" id="contenedor">
  <img class="logo" src="../public/img/logo-color.png" alt="">
  <h1 class="heading">New User</h1>
  <form id="formRegister">
    <div class="inputContainer">
      <input class="inputField" type="email" placeholder="E-mail" id="email" required /> <br>
    </div>
    <div class="inputContainer">
      <input class="inputField" type="text" placeholder="First Name" id="first_name" required /><br>
    </div>
    <div class="inputContainer">
      <input class="inputField" type="text" placeholder="Last Name" required id="last_name" /><br>
    </div>
    <div class="inputContainer">
      <input class="inputField" type="Number" placeholder="Age" min="14" required id="age" /><br>
    </div>
    <div class="inputContainer">
      <input class="inputField" type="password" placeholder="Password" minlength="8" required id="password" />
    </div>

    <input class="button-log-in" type="submit" value="Create" />

  </form>
  <a class="forgotLink" href="http://localhost:8080/login">Quit</a>
</div>

<script src="/public/js/register.js" type="application/javascript"></script>